
body{background-color: #ffc1d5
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #b24c6d;
    border-radius: 25px;
    box-shadow: 4px 4px lightpink;
}
h1 {  text-align: center;


}

li {
    float: left;
    border-right:1px solid #bbb;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: rgba(161, 30, 30, 0.77);
}

.active {
    background-color: #76b27c;
}
#top{
    margin: auto;
    background-color: antiquewhite;
    width: 60%;

    border-radius: 25px;
    text-align: center;
    box-shadow: 4px 4px lightpink;


}
.haupt {
    display: flex;
     margin: 2px;
    width: 100%;


}

#level{
    width: 20%;
    background-color: antiquewhite;
    height:480px;
    margin: 6px;
    border-radius: 25px;
    text-align: center;
    box-shadow: 4px 4px lightpink;
    position: relative;
}
#rechnen{
    background-color: antiquewhite;
    width: 60%;
    height: 480px;
    margin: 6px;
    border-radius: 25px;
    text-align: center;
    box-shadow: 4px 4px lightpink;
}
#belohnung{
    width: 20%;
    height: 480px;
    background-color: antiquewhite;
    margin: 6px;
    border-radius: 25px;
    text-align: center;
    box-shadow: 4px 4px lightpink;

}
#foot {
    width: 100%;
    height: 60px;
    background-color: antiquewhite;
    margin: 6px;
    border-radius: 25px;
    box-shadow: 4px 4px lightpink;

}
#button1 {
    background-color: #76b27c; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 25px;
    position: absolute;
    bottom: 10px;
}
#s{

    position: relative;
    justify-content: center;
    margin-top:40px;

}
#schlange {
    display: flex;
    justify-content: center;

}
.schlangezahl{
    border: black;
    border-style: solid;
    width: 60px;
    height: 60px;
    background-color: white;
    margin: 8px;
    font-size: 50px;
    text-align: center;
}
.top2px{
    margin-top: -2px;
}
.bottem2px{
    margin-top:+20px;
}

#z{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top:80px;
}
.auswahl {
    display: flex;
    justify-content: center;
    margin-top: 140px;
}
.auswahlzahl{
    border: black;
    border-style: solid;
    width: 60px;
    height: 60px;
    background-color: white;
    margin: 1px;
    font-size: 50px;
    text-align: center;
}
#buttonton{
    background-color: #76b27c; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 25px;

}
#bild{
    height: 300px;
    width: 300px;
    margin: 25px;
}
.botton{
    margin-top: 150px;

}
#senk{
    margin-left: 50px;
    margin-top: 40px;
}